<div class="sidebar">
  <div class="container">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      
    </div>

    <nav class="sidebar-nav">
      <a class="" href="{{ site.baseurl }}">Home</a>

      
      <div id="accordion">
        <h3>Acres</h3>
        <div>
          <ul>
            <li><a href="/acres-getstart/">Get Started</li>
            <li><a href="">links</a></li>
          </ul>
        </div>
        <h3>FarmStand</h3>
        <div>
          <div>
          <ul>
            <li><a href="/fs-getstart/">Getting Started</a></li>
            <li><a href="">Api</a></li>

          </ul>
        </div>
        </div>
        <h3>Markets</h3>
        <div>
          <div>
          <ul>
            <li><a href="/markets-getstart/">Getting Started</a></li>
            <li><a href="">Google Database</a></li>

          </ul>
        </div>
        </div>
      </div>

     
    </nav>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
